/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* debug */
    /* border: 2px solid black; */
}

:root {
    --margin-element-height:100px;
    --header-background:rgb(234 234 234);
    --border-color: rgb(220 220 220);
    --font-color: rgb(150 150 150);
    --contact-background:hsl(0deg 0% 100%)
}

img {
    max-width: 100%;
}

/* COMMON */

html {
    font-size: 62.5%;
}


.wrapper {
    width: 100%;
    height: 100vh;
    /* debug */
    width:100%;
   
}

.container {
    /* debug */
    width: 100%;
    border: 1px solid var(--border-color);
}

.margin-element {
    background-color: var(--header-background);
    height: 100px;
    width: 100%;
}

.margin-element .avatar {
    background-color: var(--header-background);

}



/* layout */

ul {
    list-style-type: none;
    
}

li {
    /* debug */
    height: 100px;
    width: 100%;
}

h3 {
    margin-bottom: .5rem;
}

/* utilities */

.flex-container {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}



/* HEADER */


.header-chat {
    justify-content: space-between;
    align-items: center;
}

.header-chat i {
    display: none;
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color: var(--font-color);
}

.header-chat .avatar{
    border-left:1px solid var(--border-color);
    align-self: center;
    

}

.contact-name {
    justify-content: center;
    align-items: flex-start;
    font-size: 1.6rem;
}

.contact-name p {
  color: var(--font-color)
}

.notif-banner {
    display: none;
}


.fa-bell-slash {
    background-color: white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 1.5rem 1.5rem;
    color:hsl(198.55deg 94.83% 77.25%);
}

/* MAIN */

/* chat */

.chat {
    width: 100%;
    /* debug */
    height: 100%;

}



.main-chat {
    height: calc(100% - var(--margin-element-height) - 60px);
    padding: 20px;
    gap: 10px;
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}

.msg {
    padding: 10px;
    border-radius: 10px;
    
}

.user-msg {
    background-color: rgb(213 249 186);
    align-self: flex-end;
    font-size: 1.6rem;
    max-width:70%;

}

.contact-msg {
    background-color:rgb(255 255 255) ;
    align-self: flex-start;
    font-size: 1.6rem;
    max-width:70%;
}

.avatar {
    aspect-ratio: 1/1;
    height: 10rem;
    justify-content: center;
    align-items: center;
    background-color: var(--contact-background);
    border-bottom:.5px solid var(--border-color);
}

.avatar img {
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}


/* contacts */

.contacts {
    display: none;
    /* debug */
    height: 100%;
    background-color: var(--contact-background);
}

.chat-preview {
    display: none;
}





/* FOOTER */

.footer-chat {
    bottom:0;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--font-color);
    height: 60px;
    background-color: rgb(243 238 234);
}

.footer-chat input {
    margin: 0 2rem 0;
    width: 90%;
    border: none;
    height: 3rem;
}

.footer-chat i {
    display: none;
}

