/* COMMON */





/* layout */




/* HEADER */

.header-chat i {
    display: inline;
}
.header-chat button:nth-of-type(3) {
    margin-right: 2rem;
}


.contacts i {
    display: none;
}

.header-contacts .avatar {
    border-right: .5px solid var(--border-color2);
}



/* MAIN */


/* chat */
.chat {
    /* debug */
    height: 100%;
    

}



/* contact */
.contacts {
    display: flex;
    height: 100%;
}

.contacts-list {
    overflow-y: scroll;
    height: calc(100% - var(--margin-element-height));
    width: max-content;
}

.search-section {
    display: none;
}

.avatar {
    aspect-ratio: 1/1;
    /* debug */
    height: 10rem;
    width: 10rem;
    align-items: center;
}



ul {
    width: max-content;
}

.avatar img {
    width: 70px;
    border-radius: 50%;
}

li:hover .avatar{
    background-color: var(--hover-color);
}



/* FOOTER */

.footer-chat input {
    width: 80%;
  
}


.footer-chat button {
    display: inline;
}