
/* layout */

button {
    appearance: none;
    cursor:pointer;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
}



/* HEADER */

.header-chat i {
    display: inline;
}

.margin-element div:nth-of-type(2) {
    margin-right: 20px;
}




/* MAIN */


/* chat */
.chat {
    width: 100%;
    /* debug */
    height: 100%;
    

}



/* contact */
.contacts {
    display: block;
    /* width: 14%; */
    height: 100%;
    /* debug */
}

.contacts-list {
    overflow-y: scroll;
    height: calc(100% - var(--margin-element-height));
}

.search-section {
    display: none;
}

.avatar {
    aspect-ratio: 1/1;
    /* debug */
    height: 10rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
}


.avatar img {
    width: 70px;
    border-radius: 50%;
}

li:hover .avatar{
    background-color: var(--hover-color);
}



/* FOOTER */

.footer-chat input {
    width: 80%;
  
}


.footer-chat i {
    display: inline;
}